.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 1rem;
  border-collapse: collapse;
  margin: 30%
}

.form > * {
  padding: 5px;
}